<div class="list">
  <ul>
    <li><%=link_to "情報一覧",homes_path%></li>
    <li><%=link_to "サークル一覧",'/homes/circles/index'%></li>
    <li><%=link_to "Neoニートとは！？",neets_index_path%></li>
  </ul>
</div><br>
