<div id ="bbb">
<h1>茨大　バー・バル・バール</h1>
<p>画像左の店名をクリックすると各お店の詳しい情報が見られるよ！</p>
<%=image_tag "/images/bbb.jpg",:size => "1019x1434",:usemap => '#bbb'%>
<!--imageマップ-->
<map name="bbb">
   <area shape="rect" coords="44px,80px,185px,100px" href="http://ibanavi.net/shop/9212/" alt="I'm HOME" target="_blank">
   <area shape="rect" coords="44px,125px,185px,145px" href="https://r.gnavi.co.jp/27jz2yx10000/" alt="CamCam" target="_blank">
   <area shape="rect" coords="44px,170px,185px,185px" href="https://twitter.com/asamade0318" alt="ASAMADE" target="_blank">
   <area shape="rect" coords="44px,205px,205px,225px" href="https://twitter.com/suko0928" alt="八角" target="_blank">
   <area shape="rect" coords="44px,240px,190px,265px" href="http://www.daikichi.co.jp/shop/ibaraki/2916.html" alt="大吉" target="_blank">
   <area shape="rect" coords="44px,285px,180px,305px" href="https://www.hotpepper.jp/strJ001146980/" alt="シーサーズ" target="_blank">
   <area shape="rect" coords="44px,325px,130px,345px" href="https://www.hotpepper.jp/strJ001160010/" alt="かっぱ" target="_blank">
   <area shape="rect" coords="44px,370px,140px,395px" href="https://www.hotpepper.jp/strJ001049774/" alt="ゆしや" target="_blank">
   <area shape="rect" coords="44px,405px,92px,425px"  href="https://tabelog.com/ibaraki/A0801/A080101/8003008/" alt="宝珍楼" target="_blank">
   <area shape="rect" coords="44px,445px,105px,465px" href="https://twitter.com/noname_off" alt="NoName" target="_blank">
   <area shape="rect" coords="44px,485px,138px,505px" href="https://tabelog.com/ibaraki/A0801/A080101/8000122/" alt="トーテムポール" target="_blank">
   <area shape="rect" coords="44px,528px,135px,545px" href="https://tabelog.com/ibaraki/A0801/A080101/8002045/" alt="じゃん" target="_blank">
   <area shape="rect" coords="44px,570px,145px,590px" href="https://r.gnavi.co.jp/1v2kz6dg0000/" alt="真衣" target="_blank">
   <area shape="rect" coords="44px,610px,100px,630px" href="https://tabelog.com/ibaraki/A0801/A080101/8002373/" alt="にのまえ" target="_blank">
   <area shape="rect" coords="44px,650px,100px,670px" href="https://twitter.com/cafebarmogwai" alt="Moguwai" target="_blank">
   <area shape="rect" coords="44px,688px,195px,710px" href="https://r.gnavi.co.jp/e454910/" alt="益益" target="_blank">
   <area shape="rect" coords="44px,725px,195px,750px" href="https://tabelog.com/ibaraki/A0801/A080101/8017857/" alt="富治郎堀町" target="_blank">
   <area shape="rect" coords="44px,770px,225px,790px" href="https://tabelog.com/ibaraki/A0801/A080101/8016730/" alt="富次郎　上水戸" target="_blank">
   <area shape="rect" coords="44px,805px,240px,830px" href="https://tabelog.com/ibaraki/A0801/A080101/8001827/" alt="九州ラーメン">

</map>
</div>
