/* line 4, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
#admin {
  margin-left: 40px;
  background-color: #f0f0f0;
}

/* line 10, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
#admin .new {
  border: solid 1px;
  width: 500px;
}

/* line 15, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
#admin_form #error_explanation {
  margin-left: 50%;
}

/* line 19, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
#admin_form .title_form {
  margin: 10px 0;
}

/* line 23, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
#admin_form .msg_area {
  display: inline;
  margin-right: 80%;
}

/* line 29, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
#admin_form .form_area {
  margin-left: 40%;
}

/* line 34, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
.form_area {
  margin-left: 15px;
}

/* line 38, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
.form_area input:focus {
  border: solid 1px red;
}

/* line 42, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
.prof_text {
  float: left;
  width: 55%;
}

/* line 47, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
.prof_text li {
  font-size: 20px;
  list-style: none;
  float: left;
  position: relative;
  padding-right: 50px;
}

/* line 55, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
.prof_text li::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 70%;
  height: 7px;
  background-color: #b6f0fc;
}

/* line 66, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
.pfof_text p {
  padding-left: 100px;
}

/* line 69, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
.prof_pic {
  margin-top: 20px;
  text-align: center;
}

/* line 73, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
.user_pic {
  font-size: 20px;
  margin-bottom: 5px;
}

/* line 78, /home/unicast/circlelink/app/assets/stylesheets/admins.scss */
.button2 {
  margin-top: 60px;
  text-align: center;
}
@charset "UTF-8";
/* line 4, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}

/* line 14, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

/* line 28, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home {
  background: url(/images/sakura2.gif);
  padding-bottom: 20px;
}

/* line 32, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #msg {
  display: block;
  text-align: center;
}

/* line 37, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #msg h2 {
  display: none;
}

/* line 41, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .list li {
  margin-right: 15px;
  list-style: none;
  float: left;
}

/* line 46, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home li {
  list-style: none;
}

/* line 50, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home h2 {
  font-size: 20px;
}

/* line 57, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .new h2 {
  margin-left: 15px;
  text-align: left;
  display: inline-block;
  width: 40%;
}

/* line 64, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .new p {
  display: inline-block;
}

/* line 68, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .topic {
  float: left;
  width: 50%;
  border: 1px solid gray;
}

/* line 75, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .topic p {
  text-align: center;
}

/* line 79, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .topic table {
  text-align: center;
  width: 400px;
  table-layout: fixed;
}

/* line 85, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home table tr th:nth-of-type(1) {
  width: 20%;
}

/* line 88, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home table td:nth-child(1) {
  width: 20%;
}

/* line 92, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home table tr th:nth-of-type(2) {
  white-space: nowrap;
  width: 35%;
}

/* line 96, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home table td:nth-child(2) {
  white-space: nowrap;
  width: 35%;
}

/* line 101, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .link {
  margin-bottom: 60px;
  margin-left: 550px;
}

/* line 111, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .link ul li {
  display: inline;
}

/* line 115, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .button {
  background-color: #333;
  color: #fff;
}

/* line 119, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .button:hover {
  opacity: 0.5;
}

/* line 123, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #show_details {
  margin-left: 30px;
  margin-bottom: 30px;
}

/* line 128, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #show_details h1 {
  position: relative;
  padding: .5em .75em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0px 180px;
}

/* line 139, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #show_details h1::before, h1::after {
  position: absolute;
  top: 100%;
  left: 30px;
  content: '';
  height: 0;
  width: 0;
  border: 10px solid transparent;
}

/* line 148, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #show_details h1::before {
  border-top: 15px solid #ccc;
}

/* line 152, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #show_details h1::after {
  margin-top: -2px;
  border-top: 15px solid #fff;
}

/* line 157, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #show_details h1:first-letter {
  margin-right: .1em;
  font-size: 1.5em;
}

/* line 162, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #show_details .image_zone {
  margin: 25px 180px;
}

/* line 166, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #show_details .details_prof {
  margin: 0px 180px;
}

/* line 170, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #show_details .details_prof ul, ol {
  background: #fcfcfc;
  /*背景色*/
  padding: 0.5em 0.5em 0.5em 2em;
  /*ボックス内の余白*/
  border: double 8px #FFABCE;
  /*線の種類 太さ 色*/
}

/* line 176, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #show_details .details_prof ul li {
  color: #CC0033;
  border-left: solid 6px #FF8856;
  /*左側の線*/
  border-bottom: solid 2px #dadada;
  /*下に灰色線*/
  background: #FFC7AF;
  /*背景色*/
  margin-bottom: 3px;
  /*下のバーとの余白*/
  line-height: 1.5;
  /*文の行高*/
  padding: 0.5em 0.5em;
  /*前後の文との余白*/
}

/*slick関連*/
/* line 186, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #main_slide {
  margin-left: 15%;
  margin-top: 15px;
  text-align: center;
}

/* line 192, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home #check_button {
  float: right;
}

/* line 195, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .submit {
  float: right;
  margin-left: 10px;
}

/* line 201, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .picture_box {
  float: left;
  padding-right: 10px;
  width: 15%;
}

/* line 207, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

/* line 213, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 218, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .picture_box figcaption {
  margin-top: 10px;
  text-align: center;
}

/* line 223, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .picture_size {
  width: 185px;
  height: 185px;
  border: solid 1px gray;
}

/* line 229, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .after_check {
  height: 300px;
  background-color: #f5f5f5;
  padding-bottom: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

/* line 237, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .after_check h1 {
  position: relative;
  margin: 30px -1px;
  font: bold 30px/1.6 Arial, Helvetica, sans-serif;
  text-align: center;
  color: #333;
  background: #f0e800;
  -webkit-transform: rotate(-3deg) skew(-3deg);
  -moz-transform: rotate(-3deg) skew(-3deg);
  -o-transform: rotate(-3deg) skew(-3deg);
  -ms-transform: rotate(-3deg) skew(-3deg);
  transform: rotate(-3deg) skew(-3deg);
  text-shadow: 1px 1px 0 white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 30px 0 0 0 #f0e800, -30px 0 0 0 #f0e800;
}

/* line 255, /home/unicast/circlelink/app/assets/stylesheets/homes.scss */
#home .after_check p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 4, /home/unicast/circlelink/app/assets/stylesheets/neets.scss */
#neets {
  margin-left: 15px;
}

/* line 8, /home/unicast/circlelink/app/assets/stylesheets/neets.scss */
#neets h1 {
  text-align: center;
}

/* line 11, /home/unicast/circlelink/app/assets/stylesheets/neets.scss */
#neets .neet_list {
  display: table-cell;
}

/* line 15, /home/unicast/circlelink/app/assets/stylesheets/neets.scss */
#neets .neet_list ul {
  list-style: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


 #home{
 //margin-left:15px;
 background: url(/images/sakura2.gif);
 }
 #home #msg{
   display: block;
   text-align: center;
 }

 #home #msg h2{
   display: none;
   color:#CC99CC;
 }

 #error_explanation{
   width: 600px;
   color: red;
    background-color: #FFCCCC;
    style:table;
 }

 body{
   width: 1000px;
 }
 #header{
   height :80px;
    border-bottom: 1px solid gray;
    margin-left: 15px;
 }
 #header .logo_space {
  float: left;
  padding-right: 20px;

}
#header li{
  font-size: 25px;
  float:left;
  list-style: none;
  padding: 5px;
}

#header .button {
    width:150px;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#fff;
    background-color:#49a9d4;
    border-radius:10px;
}
#header .button:hover {
	background-color: white;
  border: 2px solid #49a9d4;
  border-radius:10px;
  color:#49a9d4;
}

#header .home{
  width:700px;
 position: relative;
 margin-left: 15px;
 padding-bottom: 50px;
 height: auto;
}

#main{
  width: 700px;
  margin-left:15px;
}

#hutter{
  margin-left: 15px;
  border-top:1px solid gray;
  width: 1000px;
  clear:left;
}
#hutter .login{
  margin-top:10px;
  padding-left: 70px;
  list-style: none;
}
#hutter .login li{
  float: left;
  padding:0px 5px;

}

#hutter .logo_space{
  display: block;
  width:200px;
  margin-left:auto;
}
