<div id="header">
  <div class="logo_space"><%=link_to image_tag("/images/circle_log.png",{:size => "250x72"}),root_path%></div>
  <div class="menu">
    <ul>
      <li><%=link_to "情報一覧",root_path,{:class =>"button"}%></li>
      <li><%=link_to "サークル一覧",homes_circle_path,{:class=>"button"}%></li>
      <li><%=link_to "Neoニートとは！？",neets_index_path,{:class=>"button"}%></li>
    </ul>
  </div><br>
</div>
