<!--インスタンス名は@show_infoで-->
<div class="topic">
  <table>
    <tr>
      <th>サークル名</th>
      <th>投稿</th>
      <th>投稿日時</th>
    </tr>
  <%@show_info.each do |s|%>
  <tr>
  <td><%=s.admin.username%></td>
  <td><%=link_to s.title,home_path(s.id)%></td>
  <td><%=s.created_at.to_s%></td>
  <%end%>
</table>
</div>
