<!--インスタンス名は@show_infoで-->
<div class="topic">
  <%if @show_info.blank?%>
  <p>No DATA please waiting... </p>
  <%else%>
  <table>
    <tr>
      <th>サークル名</th>
      <th>投稿</th>
      <th>投稿日時</th>
    </tr>
  <%@show_info.each do |s|%>
  <tr>
  <td><%=s.admin.profile.username%></td>
  <td><%=link_to s.title,home_path(s.id)%></td>
  <td><%=s.created_at.to_s%></td>
  <%end%>
</table>
<%end%>

</div>
