<div id="home">
<div id="main">
  <div id="contents">
    <%= render 'shared/homes/list' %>
<div class = "search_form">
    <%= render 'shared/homes/check_button' %>
    <%= render 'shared/homes/show_zone' %>
</div>

</div>
<!--end of contents-->
</div>
<!--endo of main-->
</div>
<!--end of home-->
