<div id="home">
<div id="main">
  <div id="contents">
    <%= render 'shared/homes/list' %>
<div class="circle">
  <p>サークル一覧</p>
  <p>ここにサークル一覧表示</p>
   <%= render 'shared/homes/check_button' %>
    <%= render 'shared/homes/after_check' %>
</div>

</div>
<!--end of contents-->
</div>
<!--endo of main-->
</div>
<!--end of home-->
