<div id="main">
  <div id="contents">
  <div id="home">
<h1>ここは最初のページ</h1>
<div class="list">
  <ul>
    <li>情報一覧</li>
    <li>サークル一覧</li>
    <li>Neoニート</li>
  </ul>
</div>
</div>
<!--end of home-->
</div>
<!--endo of contents-->
</div>
<!--end of main-->
