<div id="home">
<div style="margin-left:20%">
  <h2><%=image_tag'/images/all_info.png',:size => '109x50'%></h2>
  <div class="topic" style="float:none;">
    <%if @show_info.blank?%>
    <p>No DATA <br>please waiting... </p>
    <%else%>
    <table>
      <tr>
        <th>サークル名</th>
        <th>投稿</th>
        <th>投稿日時</th>
      </tr>
    <%@show_info.each do |s|%>
    <tr>
    <td><%=link_to s.admin.profile.username,homes_show_details_path(s.admin.profile.id)%></td>
    <td><%=link_to s.title,"homes/show/#{s.id}"%></td>
    <td><%=s.created_at.to_s%></td>
    <%end%>
  </table>
  <%end%>
  </div>

</div>
</div>
