// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#admin{
    padding-top: 10px;
    padding-bottom: 100px;
  background-image: url(/images/admin_back.jpg);
}

#admin h2{
    position: relative;
    color: #111;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 30px 30px;
    padding: 0.5em 0.5em 0.5em 1.7em;
    border-bottom: 3px solid #B92A2C;
}

#admin h2:before{
    content: "";
    position: absolute;
    background: #d48789;
    top: 0;
    left: 0.4em;
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

#admin h2:after{
    content: "";
    position: absolute;
    background:#d26466;
    top: 1.0em;
    left: 0;
    height: 8px;
    width: 8px;
    transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
}

#admin .login_box{
  border:solid 2px gray;
  border-radius: 0.5em;
  text-align: center;
  padding: 40px 0px;
  margin: 15px 250px;
  background-color: white;
}

#admin .field{
  padding-top: 20px;
}
#admin .actions{
  margin-top: 30px;
  margin-bottom: 20px;
}

#admin h1{
    background-color: white;
    position: relative;
    margin: 1.0em 0 0.7em;
    margin-right: 1.5em;
    margin-left: 0.5em;
    padding: 0.2em;
    font-size: 3em; /* フォントサイズ */
    font-weight: bold; /* フォント太さ */
    color: #00008b; /* テキスト色 */
    border: 3px solid #00bfff; /* 下線：太さ 線の種類 色 */
}
#admin h1:before,
#admin h1:after{
    content: '';
    border-right: 18px solid #fff;
    border-top: 15px solid #00bfff; /* 吹き出し部分の線の色 */
    bottom: -15px;
    position: absolute;
    left: 26px;
}
#admin h1:after{
    border-top-color: #fff;
    border-right-color: transparent;
    bottom: -11px;
    left: 28px;
}
#admin .textbox{
  margin-left: 15px;
}

#admin .index_pic{
  float: left;
  margin:15px 100px 50px 20px;
  border: solid 1px gray;
}

#admin .contribution{
  display: inline-block;
  padding-bottom: 15px;
  padding-top: 0px;
}

#admin .new{
border: solid 2px gray;
width: 500px;
border-radius: 0.5em;
background-color: white;
}

#admin_form #error_explanation{
  margin-left: 30%;
  width:320px;
}

#admin_form .title_form{
  margin:10px 0;

}

#admin_form .msg_area{
  margin-left: 20px;
  //background-color: red;
  width :350px;
  //padding-top: 20%;
}

#admin_form .form_area{
  margin-left: 40%;
  //background-color: red;
}


.prof_text{
  float: left;
  width: 55%;

}
.prof_text li{
  font-size: 20px;
  list-style: none;
  float: left;
  position: relative;
  padding-right: 50px;
}

.prof_text li::after {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 70%;
	height: 7px;
	background-color: #b6f0fc;
}

.pfof_text p{
  padding-left: 100px;
}
.prof_pic{
  margin-top: 20px;
  text-align: center;
}
.user_pic{
  font-size: 20px;
  margin-bottom: 5px;
}

.button2{
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.button3 {
  padding:15px;
  width:150px;
	background-color: #333;
	color: #fff;
}
.button3:hover {
	background-color: #59b1eb;
}
