// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#admin_form #error_explanation{
  margin-left: 50%;
}

#admin_form .title_form{
  margin:10px 0;
}

#admin_form .msg_area{
  display: inline;
  margin-right: 80%;
}




#admin_form .form_area{
  margin-left: 40%;
}

.form_area{
  margin-left: 15px;
}

.form_area input:focus {
    border:solid 1px red;
}

.prof_text{
  float: left;
  width: 55%;

}
.prof_text li{
  font-size: 20px;
  list-style: none;
  float: left;
  position: relative;
  padding-right: 50px;
}

.prof_text li::after {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 70%;
	height: 7px;
	background-color: #b6f0fc;
}

.pfof_text p{
  padding-left: 100px;
}
.prof_pic{
  margin-top: 20px;
  text-align: center;
}
.user_pic{
  font-size: 20px;
  margin-bottom: 5px;
}

.button2{
  margin-top: 60px;
  text-align: center;
}
