// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home{
//margin-left:15px;
background: url(/images/sakura2.gif);
}
#home #msg{
  display: block;
  text-align: center;
}

#home #msg h2{
  display: none;
  color:#CC99CC;
}

#home .list li{
  margin-right:15px;
  list-style: none;
  float:left;
}
#home li{
  list-style: none;
}

#home h2{
  font-size: 20px;
}
#home .new{
  float:left;
}

#home .new h2{
  margin-left: 15px;
  margin-bottom: -5px;
  text-align: left;
  display: inline-block;
  width:50%;
}

#home .new p{
  float: right;
  margin-bottom: auto;
  text-align: right;
  display: inline-block;
  width: auto;
}

#home .topic{
  width: 100px;
  border:1px solid gray;
  margin: 10px;
  padding-right: 400px;
}

#home .topic p{
  text-align: center;
  //width:300px;
}

#home .topic table{
  text-align: center;
  width: 500px;
    table-layout:fixed;;
}

#home table tr th:nth-of-type(1) {
width: 20%;
}
#home table td:nth-child(1) {
  width: 20%;
}

#home table tr th:nth-of-type(2) {
  white-space: nowrap;
  width: 40%;
}
#home table td:nth-child(2) {
  white-space: nowrap;
  width: 40%;
}

#home .link{
  margin-bottom: 300px;
}

#home .button {
  float: left;
  margin:10px;
	background-color: #333;
	color: #fff;
  background-image: "/images/home1.jpg";
}
#home .button:hover {
	background-color: #59b1eb;
}

/*slick関連*/
#home #main_slide{
  margin-left: 15%;
  margin-top:15px;
  text-align:center;
}
