// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home .list li{
  margin-right:15px;
list-style: none;
  float:left;

}
#home .new li{
}

#home .button {
	background-color: #333;
	color: #fff;
}
#home .button:hover {
	background-color: #59b1eb;
}

#home .check_button{

  //display: inline;
}
